<%- include('includes/head'); %>
<%- include('includes/navbar'); %>
<link rel="stylesheet" href="/assets/css/eventDetails/eventDetails.min.css">

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="display-1 text-center"><%= event.name %></h1>
      <main class="container">
        <div class="box text-center" id="divLogin">

          <div class="form-group">
            <label>Date and Hour
              <input type="datetime-local" class="form-control" name="dateTime" value="<%= event.dateTime %>"
                readonly />
            </label>
          </div>
          <div class="form-group">
            <label>Location
              <input type="text" class="form-control" name="location" value="<%= event.location %>" readonly />
            </label>
          </div>
          <div class="form-group">
            <label>Description
              <textarea name="description" cols="24" rows="8" class="form-control"
                readonly><%= event.description %></textarea>
            </label>
          </div>
          <div class="form-group">
            <label>Confirmed
              <% if (sortedInvites.confirmed.length) { %>
              <textarea cols="24" rows="5" class="form-control"
                readonly><% sortedInvites.confirmed.forEach(invite => { %><%= `${invite.name}\n` %><% }) %></textarea>
              <% } else { %>
              <p>No confirmations yet :(</p>
              <% } %>
            </label>
          </div>
          <div class="form-group">
            <label>Interested, but not confirmed
              <% if (sortedInvites.maybe.length) { %>
              <textarea cols="24" rows="5" class="form-control"
                readonly><% sortedInvites.maybe.forEach(invite => { %><%= `${invite.name}\n` %><% }) %></textarea>
              <% } else { %>
              <p>No "maybes" at the moment</p>
              <% } %>
            </label>
          </div>
          <div class="form-group">
            <label>Pending
              <% if (sortedInvites.pending.length) { %>
              <textarea cols="24" rows="5" class="form-control"
                readonly><% sortedInvites.pending.forEach(invite => { %><%= `${invite.name}\n` %><% }) %></textarea>
              <% } else { %>
              <p>No pending invites, <a href="/events/send/<%= event._id %>" target="_blank">wanna invite more
                  people?</a>
              </p>
              <% } %>
            </label>
          </div>
          <div class="form-group">
            <label>Not coming
              <% if (sortedInvites.rejected.length) { %>
              <textarea cols="24" rows="5" class="form-control"
                readonly><% sortedInvites.rejected.forEach(invite => { %><%= `${invite.name}\n` %><% }) %></textarea>
              <% } else { %>
              <p>No rejections :)</p>
              <% } %>
            </label>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

<%- include('includes/footer'); %>