<%- include('includes/head'); %>
<%- include('includes/navbar'); %>
<link rel="stylesheet" href="/assets/css/index/index.min.css">

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="display-1 text-center">
        <% if (user) { %>
        Welcome back, <%- user.name %>!
        <% } else {%>
        Welcome!
        <% } %>
      </h1>
      <p class="text-center lead">
        <% if (user) { %>
        Check your events down below!
        <% } else {%>
        Login to check your events!
        <% } %>
      </p>
      <main class="container">
        <% if (user) { %>
        <%- include('includes/messages'); %>
        <div class="box">
          <h4 class="display-4 text-left align-items-center">
            Your events
            <a href="/events/create/" class="text-reset">
              <i class="bi bi-calendar-plus-fill" style="font-size: 1.5rem;"></i>
            </a>
          </h4>
          <ul>
            <% myEvents.forEach(event => { 
              const date = new Date(event.dateTime);%>
            <li>
              <%= event.name + ' - ' + date.toLocaleString()%>
              <a href="/events/edit/<%= event._id %>" class="text-reset">
                <i class="bi bi-pencil-square"></i>
              </a>
              <a href="/events/details/<%= event._id %>" class="text-reset">
                <i class="bi bi-eye-fill"></i>
              </a>
              <a href="/events/send/<%= event._id %>" class="text-reset">
                <i class="bi bi-send"></i>
              </a>
            </li>
            <% }) %>
          </ul>
        </div>
        <!-- <div class="box">
          <h4 class="display-4 text-left">Invited events</h4>
          <ul>
            <% events.forEach(event => { 
              const date = new Date(event.dateTime);%>
            <li><a href="#"><%= event.name + ' - ' + date.toLocaleString()%></a></li>
            <% }) %>
          </ul>
        </div> -->
        <% } %>
      </main>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>