<%- include('includes/head'); %>
<%- include('includes/navbar'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="display-1 text-center">Invite your friends!</h1>
      <p class="text-center lead">You can send the invitation link via email or copy to message them directly!</p>
      <main class="container">
        <div class="box text-center" id="divEmail">
          <form action="/events/send/<%= event._id %>" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group">
              <label>Name
                <input type="text" class="form-control" name="name" />
              </label>
            </div>
            <div class="form-group">
              <label>Your email
                <input type="email" class="form-control" name="from" />
              </label>
            </div>
            <div class="form-group">
              <label>Your friend's email
                <input type="email" class="form-control" name="to" />
              </label>
            </div>
            <button type="submit" class="btn btn-primary my-3">Send</button>
            <%- include('includes/messages'); %>
          </form>
          <div class="form-group">
            <label>This event's invitation link:
              <input type="text" id="invitationLink" class="form-control" value="<%- inviteBaseUrl %>" readonly>
            </label>
          </div>
        </div>
      </main>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<script>
  const inputLink = document.querySelector('#invitationLink');
  inputLink.addEventListener('click', async evt => {
    const link = evt.target.value;
    await navigator.clipboard.writeText(link);
    alert('Copied!');
  });
</script>

<%- include('includes/footer'); %>