<%- include('includes/head'); %>
<%- include('includes/navbar'); %>
<link rel="stylesheet" href="/assets/css/login/login.min.css">

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="display-1 text-center">Sign up</h1>
      <p class="text-center lead">Welcome! Let's set you up!</p>
      <main class="container">
        <div class="box text-center" id="divSignup">
          <form action="/signup/" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group">
              <label>Name
                <input type="name" class="form-control" name="name" autocomplete="off" />
              </label>
            </div>
            <div class="form-group">
              <label>E-mail
                <input type="email" class="form-control" name="email" autocomplete="off" />
              </label>
            </div>
            <div class="form-group">
              <label>Password
                <input type="password" class="form-control" name="password" autocomplete="off" />
              </label>
            </div>
            <div class="form-group">
              <label>Confirm Password
                <input type="password" class="form-control" name="confirmPassword" autocomplete="off" />
              </label>
            </div>
            <div class="loginRedirect">
              <a href="/login/">Already registered?</a>
            </div>
            <button type="submit" class="btn btn-primary my-3">Register</button>
            <%- include('includes/messages'); %>
          </form>
        </div>
      </main>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>